1. Tentukan library digunakan

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

2. Load Dataset

In [2]:
seattleWeather_dataset = pd.read_csv('seattleWeather.csv')

In [3]:
seattleWeather_dataset.head()

   PRCP  TMAX  TMIN  RAIN
0  0.47    51    42     1
1  0.59    45    36     1
2  0.42    45    35     1
3  0.31    45    34     1
4  0.17    45    32     1

In [4]:
seattleWeather_dataset.isnull()

      PRCP   TMAX   TMIN   RAIN
0    False  False  False  False
1    False  False  False  False
2    False  False  False  False
3    False  False  False  False
4    False  False  False  False
..     ...    ...    ...    ...
994  False  False  False  False
995  False  False  False  False
996  False  False  False  False
997  False  False  False  False
998  False  False  False  False

[999 rows x 4 columns]

In [5]:
seattleWeather_dataset.shape

(999, 4)

In [9]:
seattleWeather_dataset['RAIN'].value_counts()

0    561
1    438
Name: RAIN, dtype: int64

In [10]:
# memisahkan data dan label
X = seattleWeather_dataset.drop (columns='RAIN',axis=1)
Y = seattleWeather_dataset['RAIN']

In [11]:
print(X)

     PRCP  TMAX  TMIN
0    0.47    51    42
1    0.59    45    36
2    0.42    45    35
3    0.31    45    34
4    0.17    45    32
..    ...   ...   ...
994  0.00    86    51
995  0.00    75    52
996  0.01    67    52
997  0.99    60    55
998  0.63    60    49

[999 rows x 3 columns]

In [12]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
994    0
995    0
996    1
997    1
998    1
Name: RAIN, Length: 999, dtype: int64

3. Memisahkan data Training dan data Testing

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [14]:
print(X.shape, X_train.shape, X_test.shape)

(999, 3) (799, 3) (200, 3)

4. Membuat data latih menggunakan algoritma svm

In [15]:
classifier = svm.SVC(kernel='linear')

In [16]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

5. membuat model evaluasi untuk mengukur tingkat akurasi

In [17]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [18]:
print('Akurasi data training adalah =', training_data_accuracy)

Akurasi data training adalah = 0.8573216520650814

In [19]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [20]:
print('Akurasi data testing adalah=', test_data_accuracy)

Akurasi data testing adalah= 0.895

6. Membuat model prediksi

In [22]:
input_data = (0,41,26)

input_data_as_numpy_array = np.array(input_data)

input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshape)
print(prediction)

if (prediction[0] == 0):
    print('Tidak hujan')
else :
    print('Hujan')

[0]
Tidak hujan

c:\Users\Rian alfian\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

7. Simpan Model

In [23]:
import pickle

In [24]:
filename = 'seattleWeather.sav'
pickle.dump(classifier, open(filename,'wb'))